use only gpt-5-mini its exist latest model and check doc OpenAI API ref
не нужно переписывать код если не знаешь что делать, ищи решение в интернете или потайся править текущий код
alwais use MCP server to check API
сверяйся с документами постоянно когда фиксишь ошибки
не нужно писать отчеты длинные о работе